<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Registration_Form.Properties.Settings.Student_Registration_FormConnectionString"
            connectionString="Data Source=DESKTOP-8254JNC;Initial Catalog=Student_Registration_Form;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>